@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  width: 100%;
}

p {
  font-weight: 300;
  color: #111;
}

section {
  padding: 80px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
  background-color: #fff;
}

.logo {
  color: #111;
  font-weight: bold;
  font-size: 2.5em;
  text-decoration: none;
}

header .logo span {
  color: #ff0157;
}

header .navigation {
  display: flex;
  position: relative;
}

header .navigation li {
  list-style: none;
  margin-left: 30px;
}

header .navigation li a {
  text-decoration: none;
  color: #111;
  font-weight: 300;
  font-size: 1.5em;
  transition: 0.5s;
}

.banner {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://i.postimg.cc/s29LNR86/bg.jpg);
  background-size: cover;
}

.content {
  max-width: 900px;
  text-align: center;
}

.banner .content h2 {
  font-size: 5em;
  color: white;
}

.banner .content p {
  font-size: 1em;
  color: white;
}

.btn {
  width: 300px;
  font-size: 1.5em;
  color: white;
  background-color: #ff0157;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.5s;
  margin-top: 40px;
  display: inline-block;
}
.title a.btn {
  padding: 10px;
  width: 300px;
}
.about {
  padding: 80px;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.row .col50 {
  width: 48%;
}

.imgbx {
  width: 100%;
  min-height: 300px;
}

.imgbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.titletext {
  color: #111;
  font-size: 2em;
  font-weight: 300;
}

.titletext span {
  color: #ff0157;
  font-weight: 700;
  font-size: 1.5em;
}

.menu {
  padding: 80px;
}
.menu .btn {
  text-align: center;
  width: 20%;
}
.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.menu-content .box {
  width: 340px;
  margin: 20px;
  border: 15px solid #fff;
  box-shadow: 0 5px 35px lightgray;
}

.text {
  text-align: center;
  padding: 15px 0 5px;
}

.menu-content .box .imgbx {
  width: 100%;
  height: 300px;
}
.menu-content .box .imgbx img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sticky {
  background: #fff;
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.expert {
  padding: 80px;
}

.expert .menu-content .box {
  width: 250px;
  margin: 30px;
  border: 15px solid #fff;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.12);
}

.expert .menu-content .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 20%;
}

.testimonial {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://i.postimg.cc/k5dZs5jR/bg2.jpg);
  background-size: cover;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.white {
  color: white;
}

.testimonial .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
  max-width: 100%;
}

.testimonial .content .box {
  width: 350px;
  margin: 20px;
  padding: 40px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial .content .box img {
  border-radius: 48%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.testimonial .content .box .imgbx {
  width: 100%;
  height: 300px;
}

.text h2 {
  margin-top: 20px;
  font-size: 1.5em;
  color: #ff0157;
  font-weight: 600;
}

.text p {
  font-style: italic;
}

.contactform {
  padding: 75px 50px;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin-top: 50px;
}

.contactform h3 {
  color: #111;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 500;
}

.contactform .inputbox {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.contactform .inputbox input,
.contactform .inputbox textarea {
  width: 100%;
  border: 1px solid #555;
  border-radius: 10px;
  padding: 10px;
  color: #111;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  resize: none;
}

.contactform .inputbox input[type="submit"] {
  font-size: 1em;
  color: #fff;
  background: #ff0157;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  max-width: 100px;
  transition: 0.5s;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.contactus {
  background: url(https://i.postimg.cc/4NmrNq7y/bg3.jpg);
  background-size: cover;
}

.footer {
  background: #ff0157;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer p {
  color: #fff;
  font-weight: 300;
  justify-content: center;
  display: flex;
}

.footer .icons {
  color: #fff;
}

@media only screen and (max-width: 768px) {
  header.sticky {
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
  }
  section .row {
    flex-direction: column;
    justify-content: center;
  }
  .row .col50 {
    width: 100%;
  }

  .col50 {
    text-align: center;
  }
  .title {
    text-align: center;
  }

  .white {
    text-align: center;
  }

  section .contactus {
    flex-direction: column;
    background-image: none;
  }

  .menu {
    padding: 15px;
  }

  .expert {
    padding: 15px;
  }

  .logo {
    font-size: clamp(0.2rem, 2.5vw, 2rem);
  }
  ul.navigation {
    font-size: clamp(0.2rem, 1vw, 1.5rem);
  }

  .testimonial .content .box img {
    border-radius: 20px;
  }
  .testimonial .content .box {
    border-radius: 20px;
  }

  .expert .menu-content .box {
    width: 80%;
  }
  section.testimonial {
    padding: 40px;
  }
}
